.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   .title {
      font-size: 1.9rem;
      font-weight: 600;
      margin-top: 20px;
   }

   .buttonContainer {
      width: 300px;
      display: flex;
      justify-content: space-evenly;
      margin-top: 20px;
      margin-bottom: 5px;
      
      .button {
         font-size: 1rem;
         font-weight: 500;
         margin-left: 10px;
         color: white;
         text-decoration: none;
         background-color: rgb(17, 180, 255);
         transition: all .2s;
         border-radius: 20px;
         padding: 7px 20px;
         &:hover{
            transform: scale(1.1);
            background-color: rgb(255, 199, 94);
            cursor: pointer;
         }
      }
   }

   .table{
      margin-top: 15px;
   }

}
  